@import url('https://fonts.googleapis.com/css?family=Lato|Permanent+Marker&display=swap');
/* Base Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddded9;
    font-family: 'Lato', sans-serif;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    opacity: 0.75;
}

/* Global Classes */

.container {
    max-width: 1100px;
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

input {
    padding: 5px;
    margin-bottom: 5px;
    width: 180px;
    border-radius: 3px;
}

.btn {
    padding: 5px 25px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
    width: 140px;
}

.btn:hover {
    opacity: 0.9;
}

#header {
    position: fixed;
    top: 0;
    min-height: 50px;
    background: #ddded9;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

nav {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline;
    padding: 0 1rem;
}


@media (max-width: 700px){
     nav li {
        display: block;
        padding: 0 1rem;
    }
}


/* logo */
.logo{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}


#call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(img/guitarguy.jpg) center/cover;
    color: #fff;
    align-content: center;
    text-align: center;
    height: 70vh;
    vertical-align: center;
}


#features .icon {
    margin: 20px 50px 20px 80px;
    display: flex;
    align-items: center;
    width: 20vw;
    justify-content: center;
    height: 125px;
    color: #db9e23;
    font-size: 50px;
}

.grid {
    display: flex;
}

#features .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.description h2 {
    font-size: 2rem;
    font-weight: bold;
}

.description p {
    font-size: 1rem;
    font-weight: lighter;
    padding: 5px;
}

#models {
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem 0 3rem 0;
    border-top: 1px lightgray solid;
}


#guitars {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.guitars {
    text-align: center;
    border: 1px grey solid;
    padding: 10px;
    width: 250px;
    border-radius: 3px;
}